@charset "utf-8";
/* CSS Document */
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
# common css Start
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/* Clear Fix */
.clearfix:after{
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix{
  display: inline-block;
}
/* Hides from IE-mac \*/
* html
.clearfix{
  height: 1%;
}
.clearfix{
  display: block;
}
/*common link*/
a{
  color: #004b91;
  text-decoration: none;
  outline: 0;
}
a:hover{
  color: #e47911;
  text-decoration: none;
  outline: 0;
}
a:focus{
  outline: 0;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: 700;
}
/* set html5 elements to block */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section{
  display: block;
}

/* CSS wireframe */
h1{
	color: #e47911;
	margin: 15px 0;
}
h2{
	color: #004b91;
	margin: 15px 0;
  font-size: 18px
}
h3{
  font-size: 16px;
}
footer h3{
	font-size: 13px;
	color: #e47911;
	font-weight: bold;
}
