<meta http-equiv='Content-Type' content='text/html; chaRset=utf-8' />
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='icon' href='favicon.ico' type='image/x-icon' />
<title>WowPerks</title>
<!-- Bootstrap style -->
<link href='css/bootstrap.min.css' rel='stylesheet'>
<link href='css/owl.carousel.css' rel='stylesheet'>
<link href='css/font-awesome.css' rel='stylesheet'>
<link href='css/ddmenu.css' rel='stylesheet' type='text/css' />
<link href='css/global.css' rel='stylesheet'>
<link href='css/style.css' rel='stylesheet'>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src='js/html5shiv.min.js'></script>
<script src='js/respond.min.js'></script>
<![endif]-->

